*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

.container{
    display: flex;
    height: 100vh;
}

nav{
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
    color: #b7b3b6;
}

.nav-logo i{
    font-size: 24px;
    cursor: pointer;
}

.nav-library{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.nav-library i{
    color: #b7b3b6;
    font-size: 14px;
}

.nav-library span{
    position: absolute;
    right: 0;
    cursor: pointer;
}

.nav-playlist,
.nav-podcast{
    background-color: #242424;
    padding: 16px;
    border-radius: 16px;
}

.nav-playlist button,
.nav-podcast button{
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-playlist h5, 
.nav-podcast h5{
    color: #fff;
}

.nav-playlist p, 
.nav-podcast p{
    font-size: 14px;
}

.nav-footer{
    margin-top: auto;
    /* display: flex; */
}
.nav-footer a{
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-button-lang{
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main{
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.search-bar{
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 400px;
    margin-bottom: 50px;
}

.search-bar input{
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 5px;
    outline: none;
}

.artists-grid, .albums-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-bottom: 40px;
}

.artist-card, .albums-card{
    width: 180px;
    background-color: transparent;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s ease;
    font-size: 12px;
    text-align: left;
}

.artist-card:hover, .albums-card:hover{
    background-color: #131313;
}

.artist-card img, .albums-card img{
    width: 100%;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px; 
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
}

.artist-card h3, .albums-card h3{
    font-size: 12px;
}

.artist-card p, .albums-card p{
    font-size: 10px;
    color: #b7b3b6;
}